{% extends 'base.html' %}
{% load static %}

{% block title %}Product details{% endblock %}
{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'product/css/style.css' %}">
{% endblock %}

{% block content %}
        {% for variant in variants %}
        <img src="{{variant.product.image.url}}">
        <h4>{{variant.product.title}}</h4>
        <small>updated_on {{variant.product.updated_time | date:"d-m-Y"}}</small>
        <br>
        <p class="card-text">{{variant.product.description | safe}}</p>
                <p>color: {{ variant.attributes.color }}</p>
                <p>weight: {{ variant.attributes.weight }}</p>
                <p>price: {{ variant.price }}</p>

        <br>
        <form action="{% url 'order:add-cart' variant.id %}" method="post" class="col-md-1">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Add to Cart">
        </form>
        <br>
        <hr>
        {% endfor %}

{% endblock %}
