{% extends 'base.html' %}
{% load static %}

{% block title %}Product details{% endblock %}
{% block extra_headers %}
    <link rel="stylesheet" href="{% static 'product/css/style.css' %}">
{% endblock %}

{% block content %}
        <img src="{{product.image.url}}">
        <small>updated_on {{product.updated_time | date:"d-m-Y"}}</small>
        <h4>{{product.title}}</h4>
        <p>price: {{product.price}}$</p><br>
        <p class="card-text">{{product.description}}</p>
        <a href="" class="btn btn-primary">Buy</a>


{% endblock %}